<main class="items">
  <h1>Items</h1>
  <ul>
    <li>Sample item</li>
    <li>Sample item</li>
    <li>Sample item</li>
    <li>Sample item</li>
    <li>Sample item</li>
    <li>Sample item</li>
  </ul>
</main>